<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap desktop rescap">

  <Identity
    Name="xinQ.DeviceMocker"
    Publisher="CN=REPLACE_WITH_PARTNER_CENTER_PUBLISHER"
    Version="1.1.0.0" />

  <Properties>
    <DisplayName>DeviceMocker</DisplayName>
    <PublisherDisplayName>xinQ</PublisherDisplayName>
    <Logo>Images\StoreLogo.scale-100.png</Logo>
    <Description>Developer toolkit for device simulation and POS printer or cash-drawer emulation workflows.</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19045.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="DeviceMocker"
        Description="Developer toolkit for device simulation and POS printer or cash-drawer emulation workflows."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Logo.scale-100.png"
        Square44x44Logo="Images\SmallLogo.scale-100.png"
        AppListEntry="default">
        <uap:DefaultTile
          Wide310x150Logo="Images\WideLogo.scale-100.png"
          Square310x310Logo="Images\Logo.scale-100.png" />
        <uap:SplashScreen Image="Images\SplashScreen.scale-100.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="$targetnametoken$.exe">
          <desktop:FullTrustProcess />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
